extends layout


block content
  form.shortener(action='/' method='POST', data-host="#{host}")
    input.shortener__url--input(type='text' name='url', value='', placeholder='Enter a URL to shorten...')
    button.shortener__button--submit(type='submit') Go
    span.shortener__notification
