doctype html
html(lang="en")
  head
    title Nodino - Simple URL shortener built with ExpressJS, React and Redis
    link(rel='stylesheet' href='//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css')
    link(rel='stylesheet', href='/stylesheets/application.css')
  body
    .container

      header.main-header
        h1.main-header__title Nodino
        p.main-header__description
          | Simple URL shortener built with
          a(href='http://expressjs.com')  ExpressJS
          |,
          a(href='http://facebook.github.io/react/')  React
          |  and
          a(href='http://redis.io')  Redis

      block content


      footer.main-footer
        p
          | handcrafted with
          span.heart  ♥
          |  by
          a(href='http://andreapavoni.com')  Andrea Pavoni
          |  - fork this project on
          a(href='https://github.com/apeacox/nodino')  github

  script(type="text/javascript" src="http://fb.me/react-0.10.0.js")
  script(type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js")
  script(type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js")
  script(type="text/javascript" src="/javascripts/jquery.flip.js")
  script(type="text/javascript" src="/javascripts/application.js")
