doctype html
html
  head
    title Nodino - URL shortener built with NodeJS and Redis
    link(rel='stylesheet', href='/stylesheets/application.css')
  body
    - if (messages.alert)
      .flash.alert
        span= messages.alert

    block content
