@import url("http://fonts.googleapis.com/css?family=Roboto:400,700");
html {
  font-family: 'Roboto', sans-serif;
}
body {
  padding: 50px;
}
a {
  color: #445018;
  text-decoration: none;
  font-weight: bold;
}
a margin,
a:hover {
  text-decoration: underline;
}
.container {
  max-width: 960px;
  margin: 0 auto;
}
.container .main-header .main-header__title {
  margin-bottom: 0.5em;
}
.container .main-header .main-header__description {
  margin-top: 0;
}
.container .main-footer {
  margin: 0 auto;
  position: absolute;
  bottom: 1em;
  text-align: center;
  font-size: 12px;
}
.container .main-footer:hover .heart {
  font-size: 160%;
}
.container .main-footer .heart {
  color: #d62b00;
}
.container .shortener {
  width: 780px;
  border: solid thin #b3cc57;
  background-color: #ecf081;
  border-radius: 5px;
  padding: 15px;
}
.container .shortener.shortened {
  border: solid thin #445018;
  background-color: #b3cc57;
}
.container .shortener .shortener__url--input,
.container .shortener .shortener__url--output {
  width: 690px;
  border: solid thin #b3cc57;
  padding: 10px 5px;
  font-size: 18px;
  border-right: none;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.container .shortener .shortener__url--input:focus,
.container .shortener .shortener__url--output:focus {
  outline: none;
  border: solid thin #445018;
}
.container .shortener .shortener__url--output {
  color: #445018;
  border: solid thin #ecf081;
  border-right: none;
}
.container .shortener .shortener__button--submit,
.container .shortener .shortener__button--revert {
  font-family: 'Roboto', sans-serif;
  background-color: #b3cc57;
  border: solid thin #b3cc57;
  color: #445018;
  padding: 10px 5px;
  width: 78px;
  font-size: 16px;
  font-weight: bold;
  border-left: none;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  text-transform: uppercase;
}
.container .shortener .shortener__button--submit:focus {
  outline: none;
  border: solid thin #b3cc57;
}
.container .shortener .shortener__button--revert {
  border: solid thin #ecf081;
  background-color: #ecf081;
  color: #445018;
}
.container .shortener .shortener__button--revert:focus {
  outline: none;
  border: solid thin #ecf081;
}
.container .shortener .shortener__notification {
  font-size: 0.8em;
  padding: 5px 10px;
  margin-bottom: -5px;
  display: block;
  color: #445018;
}
.container .shortener .shortener__notification.error {
  color: #d62b00;
}
